In [18]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [19]:
df = pd.read_csv("sample_data.csv")

df_label = df.copy()

In [27]:
le = LabelEncoder()
df_label['Gender_Encoded'] = le.fit_transform(df_label['Gender'])
df_label['Passed_Encoded'] = le.fit_transform(df_label['Passed'])

print('\nLabel Encoded Data')
print(df_label[['Name', 'Gender', 'Gender_Encoded', 'Passed', 'Passed_Encoded']])

Label Encoded Data
      Name  Gender  Gender_Encoded Passed  Passed_Encoded
0     Aman    male               1    yes               1
1    Priya  female               0    yes               1
2    Rahul    male               1     no               0
3   Anjali  female               0    yes               1
4     Ravi    male               1    yes               1
5    Meera  female               0     no               0
6    Arjun    male               1    yes               1
7     Neha  female               0    yes               1
8    Imran    male               1     no               0
9    Sneha  female               0    yes               1
10     Raj    male               1    yes               1
11   Divya  female               0     no               0
12   Kabir    male               1    yes               1
13  Simran  female               0    yes               1
14   Karan    male               1     no               0
15   Pooja  female               0    yes               1
16  Rakesh    male               1    yes               1
17    Isha  female               0     no               0
18   Rohit    male               1    yes               1
19   Deepa  female               0    yes               1

In [28]:
df_encoded = pd.get_dummies(df_label, columns = ['City'])
print('\nOne-Hot Encoded Data (City)')
print(df_encoded)

One-Hot Encoded Data (City)
      Name  Gender Passed  Gender_Encoded  Passed_Encoded  City_bangalore  \
0     Aman    male    yes               1               1           False
1    Priya  female    yes               0               1           False
2    Rahul    male     no               1               0            True
3   Anjali  female    yes               0               1           False
4     Ravi    male    yes               1               1           False
5    Meera  female     no               0               0           False
6    Arjun    male    yes               1               1            True
7     Neha  female    yes               0               1           False
8    Imran    male     no               1               0           False
9    Sneha  female    yes               0               1           False
10     Raj    male    yes               1               1           False
11   Divya  female     no               0               0           False
12   Kabir    male    yes               1               1           False
13  Simran  female    yes               0               1            True
14   Karan    male     no               1               0           False
15   Pooja  female    yes               0               1           False
16  Rakesh    male    yes               1               1           False
17    Isha  female     no               0               0           False
18   Rohit    male    yes               1               1           False
19   Deepa  female    yes               0               1            True

    City_chennai  City_delhi  City_mumbai
0          False        True        False
1          False       False         True
2          False       False        False
3          False       False         True
4          False        True        False
5           True       False        False
6          False       False        False
7          False        True        False
8           True       False        False
9          False       False         True
10          True       False        False
11         False        True        False
12         False       False         True
13         False       False        False
14         False        True        False
15         False       False         True
16          True       False        False
17         False        True        False
18         False        True        False
19         False       False        False